.assignment-div{
	display: none;
}

#calc-grade{
	display: none;
}
.label-default{
	position: absolute;
	left: 0px;
}

.button-success{
	text-align: center;
}

.glyphicon-info-sign{
	cursor: pointer;
	display: inline-block;
	color: #004BFF;
	font-size: 30px;
}

.info-button{
	text-align: center;
}

.modal-footer ul{
	text-align: center;
}